// app global css in SCSS form
.custom-caption {
  text-align: center;
  padding: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.heading{
  padding: 2rem;
}

.edit {
  border-left: 1px solid var(--q-color-primary);
  border-bottom: 1px solid var(--q-color-primary);
  padding: 2rem;
}

img {
  max-width: 100%;
  margin-bottom: .5rem;
}

.text {
  margin-bottom: .5rem;
}

.q-file {
  margin-bottom: .5rem;
}

.q-btn {
  margin-bottom: 0.5rem;
}

#miniabout{
  .text{
    margin-bottom: 3rem;
  }
}

#login {
  .input {
    margin-bottom: 2rem;
  }
}
